<p>您好，<%= @resource.email %>!</p>

<p>您可以点击下面的链接来更改密码</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有这个要求，请忽略这封电子邮件</p>
